<p id="notice"><%= notice %></p>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">UTwitter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href= "/feed/<%=session[:user_id]%>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=<%= new_post_path(:id=>session[:user_id])%> >Create Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= <%= edit_user_path(@user)%>>Edit profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "http://localhost:3000/main">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<!--<%= link_to 'CreatePost', new_post_path(:id=>@user.id) %>-->
<!-- <table>
  <thead>
    <tr>
      <th>msg</th>      
      <th>time</th>
      <th colspan="2"></th>
    </tr>
  </thead> -->
  <% posts = @pfeed %>
  <div>
    <% posts.each do |post| %>
      <!-- <div>
      	<div>--------------------------</div>
        <%id = post.user_id  %>
        <%user = User.find_by(id: id)%>
        <div><%=  user.name%></div>
        <div><%= post.msg %></div>
        <div><%= post.updated_at %></div>
        <div>--------------------------</div>
      <div> -->
      <div class="card" style="width: 18rem;">
      <%id = post.user_id  %>
      <%user = User.find_by(id: id)%>
      <div class="card-body">
      <h5 class="card-title"><%=  user.name%></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= post.updated_at %></h6>
      <p class="card-text"><%= post.msg %></p>
      <%like = Like.find_by(post_id: post.id,user_id: session[:user_id] )%>
      <%if like == nil%>
      <a href= <%="/like/#{post.id}"%> class="btn btn-info btn-sm " tabindex="-1" role="button" >Like</a>
      <%else%>
      <a href= <%="/unlike/#{post.id}"%> class="btn btn-warning btn-sm " tabindex="-1" role="button" >Unlike</a>
      <%end%>
      <!-- Button trigger modal -->
      <button class="card-link xyz" data-bs-toggle="modal" data-bs-target="#exampleModal<%=post.id%>" data-like = '<%=post.get_user_like%>' >
      <%="Like: #{post.get_count_like}"%>
      </button>

      <!-- Modal -->


      </div>
      </div>
    <% end %>
  </div>
<div class="modal fade" id="likeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Total Likes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id = "body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(".xyz").click(function(){
      var myModal = new bootstrap.Modal(document.getElementById('likeModal'), {})
      $(".modal-body").empty();
      const data = $(this).data("like");
      //$(".modal-body").text(data);
      for (let i = 0 ; i < data.length; i++) {
        $(".modal-body").append(`<a href="/profile/${data[i]}">${data[i]}</a><br>`);
      }
      myModal.show();
  })
</script>